@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Synt';
  src: url('../public/fonts/ABCSynt-Regular-Trial.woff2') format('woff2'),
       url('../public/fonts/ABCSynt-Regular-Trial.woff') format('woff'),
       url('../public/fonts/ABCSynt-Regular-Trial.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: url('../public/fonts/ABCWhyteMono-Regular-Trial.woff2') format('woff2'),
       url('../public/fonts/ABCWhyteMono-Regular-Trial.woff') format('woff'),
       url('../public/fonts/ABCWhyteMono-Regular-Trial.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Whyte', sans-serif;
}

.swiper-button-prev:after {
  font-family: 'Synt';
  content: '\2190';
  color: #000;
  font-size: 72px;
}

.swiper-button-next:after {
  font-family: 'Synt';
  content: '\2192';
  color: #000;
  font-size: 72px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev {
  left: -60px; /* Adjust as needed */
}

.swiper-button-next {
  right: -60px; /* Adjust as needed */
}

a {
  @apply hover:underline;
}