@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Synt Variable';
  src: url('../public/fonts/ABCSyntVariableVF-Trial.woff2') format('woff2-variations'),
       url('../public/fonts/ABCSyntVariableVF-Trial.woff') format('woff-variations'),
       url('../public/fonts/ABCSyntVariableVF-Trial.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 400 900;
}

@font-face {
  font-family: 'Synt';
  src: url('../public/fonts/ABCSynt-Regular-Trial.woff2') format('woff2'),
       url('../public/fonts/ABCSynt-Regular-Trial.woff') format('woff'),
       url('../public/fonts/ABCSynt-Regular-Trial.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: url('../public/fonts/ABCWhyteMono-Regular-Trial.woff2') format('woff2'),
       url('../public/fonts/ABCWhyteMono-Regular-Trial.woff') format('woff'),
       url('../public/fonts/ABCWhyteMono-Regular-Trial.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: #2463af;
}